:root {
    --p-coolor: #FF5400;
}

h1{
    font-size: 3rem;
    margin: 15px 0;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: gray;
}
li {
    font-size: 1.2rem;
    color: gray;
}


header {
    width: 80%;
    margin: 0 auto;
}
nav h1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav span {
    color: var(--p-coolor);
}

#hamburger {
    display: none;
}

nav, nav ul,  nav a {
    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}

.banner {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    margin: 0 auto;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.b-text {
    padding-top: 150px;
    color: white;
}
.banner-title {
    font-size: 5rem;
    margin: 15px 0;
}

.banner-describe {
    color: white;
}

.b-text div {
    display: flex;
    justify-content: center;
}
.banner input {
    font-size: 1rem;
    color: white;
    border: 0;
    padding: 20px 35px;
    margin: 5px 5px;
    border-radius: 10px;
}

button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--p-coolor);
    border: 0;
    padding: 20px 35px;
    border-radius: 10px;

}

main {
    max-width: 80%;
    margin: 0 auto;
}

@keyframes sliding {
    0%{
        color: rgb(249, 25, 5);
    }

    25%{
        color: rgb(242, 255, 0);
    }

    50%{
        color: rgb(4, 249, 4);
    }

    75%{
        color: rgb(3, 28, 252);
    }

    100% {
        color: rgb(253, 4, 4);
    right: 2600px;
    }
}

.my-section {
    margin: 0;
    width: 100%;
    height: 100px;
}

.my-text {
    font-size: 8rem;
    font-weight: bolder;
    position: relative;
    right: -1600px;
    animation: sliding 10s linear 0.1s infinite backwards;
    animation-play-state: running;
    white-space: nowrap;
}

.my-text h6 {
    margin: 0;
}

.Popular {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.Destination {
    margin: 0 auto;
    /* width: 80%; */
    text-align: center;
}
.Destination-img > div{
    display: flex;
    gap: 35px;
    margin-bottom: 35px;
    /* width: 80%; */
}

.d-i-text {
    position: relative;
    width: 100%;
}


.d-i-text h2 {
    color: white;
    position: absolute;
    top: 100px;
    left: 40%;
}

.Choose-title {
    text-align: center;
}

.Choose-Us img {
    width: 100px;
    height: 100px;
}

.card {
    display: flex;
    gap: 20px;
}
.Hotel, .Service, .Guarantee {
    border-radius: 10px;
    padding: 30px;
    width: calc(50% - 15px);

}
.Hotel {
    background-color: #fffbf7;
    border: 1px solid #fed8c5;
}

.Service {
    background-color: #f4fcfe;
    border: 1px solid #8de8ff;
}

.Guarantee {
    margin: 0 auto;
    background-color: #fef5f5;
    border: 1px solid #febfbf;
    margin-top: 20px;
}

.Deals {
    margin: 50px 0;

}

.Deals-title, .Deals-btn {
    text-align: center;
}

.Deale-card, .second {
   width: 100%;
   height: 70vh; 
   position: relative;
   margin-bottom: 100px;
}

.second {
    transform: rotateY(180deg);
}
.second .Deals-text {
    transform: rotateY(180deg);
}

.Deale-card img, .second img {
    height: 70vh;
    width: 100%;
}

.Deals-text {
    height: 45vh;
    width: 45%;
    background-color: rgba(249, 250, 250, 0.893);
    padding: 30px;
    border-radius: 10px;
    border: 3px solid white;
    position: absolute;
    top: 10%;
    right: 5%;
}
.Deals-card-title {
    margin: 10px 0;
}

.Deals-text > div {
    display: flex;
}
.Deals-text > .price {
    margin: 10px;
    color: var(--p-coolor);
}
.Deals-text p {
    margin: 5px;
}

.Place {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.Newsletter {
    height: 100%;
    /* width: 100%; */
    margin: 100px 0;
    display: flex;
    gap: 20px;
}

.N-form {
    border: 3px solid var(--p-coolor);
    border-radius: 10px;
    padding: 0 30px 30px 30px;
}

.N-form input {
    display: block;
    background-color: rgb(244, 242, 242);
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
}

.N-form button {
    width: 100%;
    margin-top: 20px;
}

.N-pic {
    position: relative;
}

.N-pic button {
    font-size: 2rem;
    rotate: -30deg;
    position: absolute;
    bottom: 25%;
    right: 5%;
}

footer {
    background-color: #f3f3f3;
    text-align: center;
    padding: 100px 20%;
}

footer h1, footer div {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.saad {
    display: none;
}
@media screen and (max-width: 600px) {
    *{
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    nav {
        flex-direction: row;
    }
    .menu {
        
        display: none;
        background-color: lightgrey;
        border-radius: 5px;
        padding: 0;
    }
    .menu li {
        color: black;
    }
    
    #hamburger {
        display: block;
    }
    #hamburger:hover + .menu {
        display: block;
        position: absolute;
        right: 5px;
        top: 50px;
    }

    .b-text {
        margin: 0 auto;
        width: 70%;
        padding-top: 100px;
    }
    .banner-title {
        font-size: 1.5rem;
    }

    .banner-describe {
        font-size: 1rem;
    }

    .my-container {
        display: none;
    }

    .Destination-img img{
        height: 100%;
        width: 100%;
        /* position: relative; */
    }

    .Hotel, .Service, .Guarantee {
        width: 80%;    
    }

    .Deals-text > div {
        flex-direction: row;
    }

    .Deals-text {
        height: 50vh;
        width: 70%;
        padding: 5px;
        position: absolute;
        top: 20%;
        right: 15%;
    }

    .N-pic button {
        width: 60%;
        font-size: large;
    }

    nav h1, footer h1, footer div {
        flex-direction: row;
    }
}